@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.drop_down {
    position: relative;
    color: #ffffff;
    font-size: 18px;
    height: 65px;

    background: #1ec3e5;
    border: 3px solid #78dcf0;
    border-radius: 0px;
}

.drop_down_title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
}

.fa_search {
    position: absolute;
    top: 19px;
    right: 20px;
}

.fa_search:hover {
    color: lightcyan;
}

.iconSize {
    font-size: 26px;
}

.dd_wrapper {
    user-select: none;
    position: relative;
    cursor: pointer;
    display: block;
}

.dd_list {
    z-index: 10;
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 15px 0;
    max-height: 200px;
    overflow-y: auto;
    background: #1ec3e5;
    border-top: none;
}

.dd_list_item {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 0 5px 0;
    margin: 0;
    list-style: none;
    background: #1ec3e5;
}

.dd_list_item:hover {
    color: #fff;
    background-color: #37d7f3;
}
