.button {
    cursor: pointer;
    outline: none;
    transition: all 175ms;
    color: #ff2e87;
    background: white;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    height: 65px;
    border: 0;
    border-radius: 30px;
    width: 100%;

    &:hover {
        fill-opacity: 10;
    }

    &:active {
        background: lightcyan;
        fill-opacity: 2;
    }

    &:disabled {
        border: 1px solid #d1dbe5;
        background: #eef1f6;
        color: #bfcbd9;
    }
}