.wrapper {
  margin: 0 auto 0 auto;
  width: 1186px;
  padding-bottom: 40px;
}

.content {
  width: 540px;
  background: #56d4ed;
  padding: 20px;
  text-align: left;
  line-height: 28px;
}
