.wrapper {
  margin: 0 auto 0 auto;
  width: 1105px;
  padding-top: 15px;
}

.left {
  display: inline;
  padding-right: 25px;
  width: 540px;
  float: left;
}

.right {
  display: inline;
  width: 540px;
  float: right;
}

.iconSize {
  font-size: 26px;
  text-align: center;
  height: 10px;
  color: #8edff0;
}

.iconSize2 {
  font-size: 26px;
  text-align: center;
  height: 10px;
}

.marginIcon {
  margin-top: -18px;
  padding-bottom: 10px;
}

.info {
  padding-bottom: 15px;
  text-align: left;
}

.line {
  height: 105px;
  margin-top: 15px;
}