.input_box {
    position: relative;
    color: #ffffff;
    font-size: 20px;
    height: 65px;

    background: #1ec3e5;
    border: 3px solid #78dcf0;
    border-radius: 0px;

    .input_field {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20px;
        right: 20px;
        height: 100%;

        input {
            background: #1ec3e5;
            width: 100%;
            height: 100%;
            color: #ffffff;
            font-size: 18px;
            border: 0;
            padding: 0;
        }

        input:focus {
            outline: none;
        }
    }
}
