.wrapper {
  margin: auto;
  width: 540px;
}

.info {
  padding-bottom: 15px;
  text-align: left;
}

.error {
  padding-bottom: 15px;
  padding-bottom: 5px;
  text-align: left;
  color: coral;
}

.staying_time {
  display: inline-flex;
  padding-bottom: 40px;
}

.divider {
  width: 25px;
}

.search_box {
  margin: auto;
  width: 534px;
}

.drop_down_box {
  width: 255px;
}